{% extends 'base.html.twig' %}

{% block title %}ContactUrgence{% endblock %}

{% block body %}
    <h1>ContactUrgence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact_urgence.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact_urgence.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ contact_urgence.telephone }}</td>
            </tr>
            <tr>
                <th>Lien_parent</th>
                <td>{{ contact_urgence.lienParent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contact_urgence_index') }}">back to list</a>

    <a href="{{ path('app_contact_urgence_edit', {'id': contact_urgence.id}) }}">edit</a>

    {{ include('contact_urgence/_delete_form.html.twig') }}
{% endblock %}
