{% extends 'base.html.twig' %}

{% block title %}AssuranceScolaire index{% endblock %}

{% block body %}
    <h1>AssuranceScolaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Numero</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assurance_scolaire in assurance_scolaires %}
            <tr>
                <td>{{ assurance_scolaire.id }}</td>
                <td>{{ assurance_scolaire.adresse }}</td>
                <td>{{ assurance_scolaire.numero }}</td>
                <td>{{ assurance_scolaire.nom }}</td>
                <td>
                    <a href="{{ path('app_assurance_scolaire_show', {'id': assurance_scolaire.id}) }}">show</a>
                    <a href="{{ path('app_assurance_scolaire_edit', {'id': assurance_scolaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_assurance_scolaire_new') }}">Create new</a>
{% endblock %}
